.Div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 36em;
}
.form_box {
  height: 30em;
  width: 40em;
  background-image: linear-gradient(
    to bottom right,
    rgb(246, 153, 153),
    rgb(156, 237, 127)
  );
  padding: 20px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 20px;
}
.heading {
  color: white;
  font-size: 27pt;
  font-weight: 600;
  padding: 10px;
}
.input_field {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.text_input {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-inline: 10px;
}
.text_input:focus {
  outline: none;
}
.label {
  font-size: 12pt;
  color: white;
}
.message_box {
  height: 10em;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding-inline: 10px;
}
.message_box:focus {
  outline: none;
}
.submit_button {
  height: 50px;
  width: 10em;
  background-color: rgb(238, 113, 113);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16pt;
  font-weight: 500;
  cursor: pointer;
}
.submit_button:hover {
  background-color: rgb(230, 132, 132);
}
